<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
    <link rel="stylesheet" href="../static/style2.css">
    <script src="https://kit.fontawesome.com/bfe61dead8.js" crossorigin="anonymous"></script>
</head>

<body>

    <section class="perfil">

        <img src="../static/about2.png" class="foto_about">


        <div class="about">
            <h1 class="titulo_about">Un poco sobre mí...</h1>

            <p class="parrafo_about">Mi nombre es Marcela Jazmín Gallardo Velásquez, actualmente estoy cursando mi
                tercer año en la carrera Ingeniería de Negocios en la Escuela Superior de Economía y Negocios (ESEN).
            </p>

            <p class="parrafo_about">En estos años que he tenido la oportunidad de formarme en esa institución, me he
                desarrollado académica, profesional y personalmente. A continuación muestro algunas de mis experiencias
                que han contribuido a mi crecimiento en los últimos años.</p>

        </div>

    </section>

    <section>

        <h1 class="titulo_experiencias">Algunas de mis experiencias</h1>

        <div class="bloque_experiencias">

            <div class="caja">
                <h3 class="caja_titulo">Directora del Departamento de Finanzas</h3>
                <img src="/static/sae.png" class="imagen_sae">
                <p class="caja_parrafo">Ingresé a la Sociedad de Alumnos Emprendedores (SAE) a principios del 2021, me
                    ubique en el departamento de Finanzas, en el cual este año resulté electa como directora.</p>
            </div>

            <div class="caja">
                <h3 class="caja_titulo">Primer lugar en el concurso de Storytelling ESEN</h3>
                <img src="/static/esen.jpg" class="imagen_esen">
                <p class="caja_parrafo">En 2021, decidí participar en la primera edición del Concurso de Storytelling de
                    la ESEN. En este, puse en practica mis habilidades de oratoria al contar una historia personal. </p>
            </div>

            <div class="caja">
                <h3 class="caja_titulo">Pasantía en Banco Davivienda S. A. </h3>
                <img src="/static/davivienda.jpg" class="imagen_davivienda">
                <p class="caja_parrafo">Entre diciembre del 2021 y enero del 2022, tuve la oportunidad de realizar mi
                    primera pasantía en el Banco Davivienda, lo que significó para mí un primer acercamiento al mundo
                    laboral.</p>
            </div>

        </div>

    </section>
    <section class="referencias">

        <h1 class="titulo_referencias">Referencias personales</h1>

        <div class="bloque_referencias">

            <div class="caja_ref">
                <h3 class="caja_ref_titulo">José Everardo Rivera</h3>
                <img src="/static/ever.jpg" class="imagen_ref">
                <p class="caja_ref_parrafo">Director General</p>
                <p class="caja_ref_parrafo"> Escuela Superior de Economía y Negocios (ESEN)</p>
                <p class="caja_ref_parrafo"><i class="fa-solid fa-envelope"></i> erivera@esen.edu.sv</p>
                <p class="caja_ref_parrafo"><i class="fa-solid fa-phone"></i> (+503) 2234 9390</p>
            </div>

            <div class="caja_ref">
                <h3 class="caja_ref_titulo">José Elías Ventura</h3>
                <img src="/static/elias.jpg" class="imagen_ref">
                <p class="caja_ref_parrafo">Profesor de Ingeniería de Negocios</p>
                <p class="caja_ref_parrafo">Escuela Superior de Economía y Negocios (ESEN)</p>
                <p class="caja_ref_parrafo"><i class="fa-solid fa-envelope"></i> eventura@esen.edu.sv</p>
                <p class="caja_ref_parrafo"><i class="fa-solid fa-phone"></i> (+503) 7810 7979</p>
            </div>
        </div>

    </section>

</body>

</html>