<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctame</title>
    <link rel="stylesheet" href="../static/style4.css">
</head>

<body>
    <div class="contacto">

        <div class="info_contacto">
            <div class="info_bloque">
                <h1 class="titulo">Contactame</h1>
                <p class="parrafo_contacto">Si tienes alguna duda, puedes contactarme en cualquiera de mis redes
                    sociales
                </p>
                <p class="parrafo_contacto">Facebook: Marcela Gallardo</p>
                <p class="parrafo_contacto">GitHub: https://github.com/Marce2022</p>
                <p class="parrafo_contacto">Correo institucional: 20200995@esen.edu.sv</p>
            </div>

            <div class="correo">
                <img src="../static/mensaje.png" class="mensaje" alt="mensaje">
            </div>
        </div>

        <p class="pie_de_pagina">
            Marcela Jazmín Gallardo Velásquez. Cel.: 6073 1442. Github: Marce2022
        </p>

    </div>

</body>

</html>