<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcela Gallardo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="inicio">

        <div>
            <h1 class="titulo_inicio">Mi portafolio profesional</h1>
            <p class="parrafo_inicio">Aquí conocerás un poco sobre mi trayectoria académica y profesional</p>
            <a class="boton_inicio" href="../templates/about.html">Sobre mí</a>
            <a class="boton_inicio" href="../templates/portafolio.html">Portafolio</a>
            <a class="boton_inicio" href="../templates/contacto.html">Contacto</a>
        </div>

        <img src="/static/imagen_inicio.png" alt="Nombre">

    </div>

</body>

</html>