<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../static/style3.css">
</head>

<body>

    <h1 class="titulo_portafolio">Algunos de mis trabajos destacados</h1>

    <div class="portafolio">

        <div class="caja_porta">
            <h2 class="caja_porta_titulo">Portafolio de Emprendimiento</h2>
            <object data="../static/Empre.pdf" type="application/pdf" class="archivo"></object>
            <p class="caja_porta_parrafo">Este trabajo consiste en armar una empresa desde cero, en el documento
                mostrado previamente, se puede visualizar todo el proceso de ideación y posterior trabajo sobre la idea,
                hasta convertirla en un verdadero modelo de negocios. </p>
        </div>

        <div class="caja_porta">
            <h2 class="caja_porta_titulo">Problema del Agente Viajero</h2>
            <object data="../static/Tarea TSP.pdf" type="application/pdf" class="archivo"></object>
            <p class="caja_porta_parrafo">Este trabajo consistió en calcular la mejor ruta de transporte para varias
                paradas, lo que conllevó un gran trabajo para procesar toda la información, compararla y elegir la mejor
                opción.</p>
        </div>

    </div>

    <h1 class="titulo_portafolio">Recomendación</h1>

    <div class="ever">

        <div class="caja_porta_ever">
            <q class="caja_porta_parrafo_ever">Marcela J. Gallardo Velásquez es una joven sumamente talentosa y capaz,
                orientada a resolver problemas, con un carácter que le permite establecer excelentes relaciones
                interpersonales, es proactiva, capaz de defender un argumento, con disposición de apoyar a sus
                compañeros, muy acuciosa e integral. Deseo destacar que ella obtuvo la nota de 10.0 en la asignatura que
                le serví de Introducción a la Economía en 2020, siendo siempre un ejemplo para todos los que
                participamos de dicho curso. Sin duda su potencial es enorme para ser una destacada persona y
                profesional, siendo motivo de orgullo para la ESEN contar con ella como estudiante.
            </q>
            <p> </p>
            <p class="caja_porta_parrafo_ever">- José Everardo Rivera Bonilla, director general.</p>
        </div>

    </div>

</body>

</html>